@import "tailwindcss";


 @plugin "daisyui" {
   themes: light --default
   dark --prefersdark;
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #006A71;
  --color-secondary: #48A6A7;
  --color-accent: #9ACBD0;
  --color-base-100: #F2EFE7;
}
@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #48A6A7;
  --color-secondary: #006A71;
  --color-accent: #9ACBD0;
  --color-base-100: #1e293b;
}

a.active {
  color: #48A6A7;
  text-decoration: underline;
  
}


